<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PitchBooking"
        tools:targetApi="31">
        <activity
            android:name=".activity.activity.BookingHistory"
            android:exported="false" />
        <activity
            android:name=".activity.activity.CurrentBookingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.CurrentBooking"
            android:exported="false"
            android:label="@string/title_activity_current_booking"
            android:theme="@style/Theme.PitchBooking" />
        <activity
            android:name=".activity.activity.UpdatePitch"
            android:exported="false" />
        <activity
            android:name=".activity.activity.BookingPitch"
            android:exported="false" />
        <activity
            android:name=".activity.activity.AdminListPitch"
            android:exported="false" />
        <activity
            android:name=".activity.activity.adminPage"
            android:exported="false" />
        <activity
            android:name=".activity.activity.UserProfile"
            android:exported="false" />
        <activity
            android:name=".activity.activity.UserMenu"
            android:exported="false" />
        <activity
            android:name=".activity.activity.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".activity.activity.LoginPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.AddPitchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>